<nav class="homepage-nav navbar navbar-light bg-light justify-content-between">
    <a href="/">
        <h1 class="logo">explore<span class="yellow-text">Venue</span></h1>
    </a>
    <form class="form-inline">
        <button type="button" class="sign-up-btn btn btn-link mr-2 btn-lg" onclick="goToSignUpPage()">Sign Up</button>
        <button type="button" class="btn btn-outline-warning btn-lg" onclick="goToLoginPage()">Login</button>
    </form>
</nav>