<div class="confirmation-page">
    <header>
        {{#if isLoggedIn}}
            {{> logged-in-header}}
        {{else}}
            {{> logged-out-header}}
        {{/if}}
    </header>

    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-2 confirm-title">Congratulations! You have booked the venue</h1>
            <p class="lead">Your confirmation ID is {{confirmation_id}}</p>
        </div>
    </div>

    <script src="/assets/js/global.js"></script>
</div>
<footer>
  <div class="pb-2 pt-2">
    {{!-- <a href="privacy-policy.html">Read Our Privacy Policy</a> <br /> --}}
    &copy; 2021 Explore Venue, Inc.
  </div>
</footer>