<div class="homepage-container container-fluid">
  <nav class="homepage-nav navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><img src="assets/images/logo-removebg-preview.png" /></a>
    <form class="form-inline">
      <button type="button" class="btn btn-link mr-2">Sign Up</button>
      <button type="button" class="btn btn-outline-light">Login</button>
    </form>
  </nav>
  <main>
    <div class="jumbotron">
      <h1 class="display-3 font-weight-bold">Explore to find perfect venue</h1>
      <p class="lead">Explore 100+ venues to find the perfect venue for the perfect event</p>
      <button class="btn btn-primary" onclick="goToSearchPage()">Find Venues</button>
    </div>
  </main>

</div>
<footer>
  Thanks for visiting!
</footer>
<script src="assets/js/homepage.js"></script>