<canvas id="canvas"></canvas>
<div class="homepage-container container-fluid">
  <header>
    <nav class="homepage-nav navbar navbar-light bg-light justify-content-between">
      <a href="/">
        <h1 class="logo">explore<span class="yellow-text">Venue</span></h1>
      </a>
      <form class="form-inline">
        {{#if isLoggedIn}}
        <button id="logout" class="btn btn-outline-warning">Logout</button>
        {{else}}
        <button type="button" class="sign-up-btn btn btn-link mr-2 btn-lg" onclick="goToSignUpPage()">Sign Up</button>
        <button type="button" class="btn btn-outline-warning btn-lg" onclick="goToLoginPage()">Login</button>
        {{/if}}
      </form>
    </nav>
  </header>

  <div class="jumbotron mt-5">
    <h1 class="display-4">A perfect venue for a special occassion </h1>
    <p class="homepage-lead lead">Explore 100+ venues, and reserve with one click</p>

    {{#if isLoggedIn}}
    <button class="btn btn-warning btn-lg pl-4 pr-4" onclick="goToSearchPage()">Search Venues</button>
    {{/if}}
  </div>

</div>

<script src="assets/js/global.js"></script>
<footer>
  <div class="pb-2 pt-2">
    {{!-- <a href="privacy-policy.html">Read Our Privacy Policy</a> <br /> --}}
    &copy; 2021 Explore Venue, Inc.
  </div>
</footer>