<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand header-title" href="/">explore<span class="yellow-text">Venue</span></a>
        <form class="form-inline">
            {{#if templateVariables.isLoggedIn}}
            <button id="logout" class="btn btn-outline-warning">Logout</button>
            {{else}}
            <button type="button" class="btn btn-link mr-2" onclick="goToSignUpPage()">Sign Up</button>
            <button type="button" class="btn btn-outline-warning" onclick="goToLoginPage()">Login</button>
            {{/if}}
        </form>
    </nav>
</header>

{{!-- added new class --}}
<div class="login-form"> 
  <container class="inputBox">
    <form >
      <div class="form-group">
        <label for="emailAddress">Email:</label>
        <input id="emailAddress" type="text" name="email">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password:</label>
        <input id="passwordInput" name="password" type="password">
      </div>
      <button class="submit" id="login">Login</button>
    </form>
  </container>
</div>

<footer>
  <ul>
    <li>
      <a href="">About Us</a>
    </li>
    <li>
      <a href="">Contact Us</a>
    </li>
    <li>
      <a href="https://github.com/mehak-zehra" target="_blank">Mehak's Github</a>
    </li>
    <li>
      <a href="https://github.com/CarpeTonberry" target="_blank">Kyle's GitHub</a>
    </li>
  </ul>
  <h2>❤️ Made with love by Mehak & Kyle</h2>
</footer>
{{!-- added script tag --}}
<script src="assets/js/login.js"></script>