<div class="search-page">
    <header>
        {{#if templateVariables.isLoggedIn}}
            {{> logged-in-header}}
        {{else}}
            {{> logged-out-header}}
        {{/if}}
    </header>
    <div class="container mt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Venue</th>
                    <th scope="col">Date</th>
                    <th scope="col">Confirmation ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each templateVariables.reservations}}
                <tr>
                    <td>{{venue_title}}</td>
                    <td>{{date}}</td>
                    <td>{{confirmation_id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="assets/js/search.js"></script>
    <script src="assets/js/global.js"></script>
</div>