<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand header-title" href="/">ExploreVenue</a>
        {{!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <input type="date" id="birthday" name="Date">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <select id="location-filter" aria-labelledby="navbarDropdownMenuLink" class="selectpicker"
                        data-live-search="true" onchange="updateLocationFilter()">
                        <option disabled selected>Location</option>
                        <option>San Francisco</option>
                        <option>Fremont</option>
                        <option>Hayward</option>
                        <option>San Jose</option>
                        <option>Berkeley</option>
                    </select>
                </li>
            </ul>
        </div> --}}
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 filters">
            <h3>Filter By</h3>
            <form>
                <div class="form-group">
                    <label for="defaultCheck1">Location</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="location-check-1">
                        <label class="form-check-label" for="location-check-1">
                            San Francisco
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="location-check-2">
                        <label class="form-check-label" for="location-check-2">
                            Fremont
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="location-check-3">
                        <label class="form-check-label" for="location-check-3">
                            Hayward
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="location-check-4">
                        <label class="form-check-label" for="location-check-4">
                            Berkeley
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="location-check-5">
                        <label class="form-check-label" for="location-check-5">
                            San Jose
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Category</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="categoryRadios" id="category-radio-1"
                            value="option1" checked>
                        <label class="form-check-label" for="category-radio-1">
                            Wedding
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="categoryRadios" id="category-radio-2"
                            value="option2">
                        <label class="form-check-label" for="category-radio-2">
                            Conference
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="categoryRadios" id="category-radio-3"
                            value="option2">
                        <label class="form-check-label" for="category-radio-3">
                            Party
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Capacity</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="capacity-radio-1"
                            value="option1" checked>
                        <label class="form-check-label" for="capacity-radio-1">
                            50
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="capacity-radio-2"
                            value="option2">
                        <label class="form-check-label" for="capacity-radio-2">
                            100
                        </label>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-10">
            {{#each venues}}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/images/ritz.jpeg" width="500px" height="300px" alt="..."
                            class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="assets/js/search.js"></script>