<div class="signup-page">

  <header>
    <nav class="homepage-nav navbar navbar-light bg-light justify-content-between">
      <a href="/">
        <h1 class="logo">explore<span class="yellow-text">Venue</span></h1>
      </a>
      <form class="form-inline">
        {{#if isLoggedIn}}
        <button id="logout" class="btn btn-outline-warning">Logout</button>
        {{else}}
        <button type="button" class="sign-up-btn btn btn-link mr-2 btn-lg" onclick="goToSignUpPage()">Sign Up</button>
        <button type="button" class="btn btn-outline-warning btn-lg" onclick="goToLoginPage()">Login</button>
        {{/if}}
      </form>
    </nav>
  </header>

  <div class="signup-container container-fluid">
    <form class="signup-form p-4">
      <div class="form-group">
        <label for="first-name">First Name:</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter First Name" name="first-name"
          id="first-name">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Last Name" name="last-name"
          id="last-name">
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Email" name="email-signup"
          id="email-signup">
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input type="password" class="form-control form-control-lg" placeholder="Enter password" name="password-signup"
          id="password-signup">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-warning btn-lg text-white">Signup</button>
      </div>
    </form>
  </div>

  <script src="assets/js/global.js"></script>
  {{!-- <script src="assets/js/signup.js"></script> --}}
</div>