<h1 class="logo1"><a href='http://localhost:3001/' style="color: white;">explore</a><a href='http://localhost:3001/'
    style="color: #ffc107">Venue</a></h1>
<div class="signUp">
  <container class="inputBox">
    <form class="signup-form">
      <div class="form-group">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" />
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="emailInput">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit" class=" submit btn-outline-warning">SignUp</button>
      </div>
    </form>
  </container>
</div>
<footer>
  <ul>
    <li>
      <a href="">About Us</a>
    </li>
    <li>
      <a href="">Contact Us</a>
    </li>
    <li>
      <a href="https://github.com/mehak-zehra" target="_blank">Mehak's Github</a>
    </li>
    <li>
      <a href="https://github.com/CarpeTonberry" target="_blank">Kyle's GitHub</a>
    </li>
  </ul>
  <h2>❤️ Made with love by Mehak & Kyle</h2>
</footer>

<script src="assets/js/signup.js"></script>