.homepage-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/background_wedding.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.btn-link {
    color: white;
}

.homepage-nav {
    background-color: transparent !important;
}