.homepage-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/background_wedding.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.logo, h1 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-size: 75px;
}

h3 {
    font-family: 'Fredericka the Great', cursive;
    color: white; 
}

.filter-label {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;;
    color: #ffc107;
}

.header-title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 35px;
}

.yellow-text {
    color: #ffc107
}

.filters {
    background-color: grey
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.btn-link, .form-group {
    color: white;
}

.homepage-nav {
    background-color: transparent !important;
}

/* Kyle login */
.login-form {
    background-image: url("../images/Login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.signUp {
    background-image: url("../images/Sign_Up.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.logo1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 75px;
    position: absolute;
    margin-left: 15px;
}

.emailInput {
    padding-right: 30px;
}

.inputBox {
    margin-left: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translateY(250px);
    display: flex;
    justify-content: center;
    width:50%;
    opacity: 95%;
    background-color: #ebdcb0;
  } 

  .submit {
      display: flex;
      justify-content: center;
      width: 50%;
      margin-left: 80px;
  }

  footer ul {
    /* background-color: grey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

  footer h2 {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    /* background-color: grey; */
  }